body { 
    background-color: #282828;
    margin: 0;
    padding: 0;
}

form {
    margin: 20px auto;
}

.container {
    display: grid;
    grid-template-rows: 40% 20% 40%;
    margin: auto;
    width: 90%;
    min-width: 300px;
    min-height: 550px;
    max-width: 500px;
}

.from,
.to {
    display: flex;
    margin: 1em 0;
}

.convert {
    margin: auto;
    background-color:#D7B384;
    padding: 1em 2em;
}

button {
    font-size: 2em;
    border: none;
    color: #282828;
    font-weight: 700;
    background-color: inherit;
    cursor: pointer;
}

select {
    width: 40%;
    border: none;
    font-size: 2em;
    background-color: inherit;
    color: #D7B384;
}

option {
    background-color: #282828;
}


input,
span {
    width: 60%;
    border: none;
    font-size: 2em;
    padding: 0 1em;
    background-color: #383737;
    color: #C7C7FF;
}

span {
    padding-top: 2.4em;
}