body{
    
    margin-top: 60px;
    background-color: #282828;
}


.container{
    
    width: 320px;
    height: 480px;
}


h1{ 

    color: white;
    font-size: 30px;
}


p{
    
    color: #ffc300;
    font-size: 2em;
    font-family: 'Tangerine', cursive;
}

/*result to display*/
.display{

    margin: auto;
    margin-bottom: 40px;
}


#result{

    color: greenyellow;
    background-color: #282828;
    border: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5em;
}

/*select, and inputs*/
.amount,
.input-group{
    
    margin-bottom: 40px;
}


select, 
option, 
input{

    font-weight: 700;
}


.from{

    margin-right: 2em;
}

/*Button*/
.button-div{
    
    margin: auto;
}


.btn{
    
    cursor: pointer;
    width: 100%;
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    background-color: #3374ff;
}


.btn:hover,
.btn.hover{

    background-color: green;
}
